@charset "UTF-8";
/* CSS Document */

.logo {
	height: 4rem;
	width: 5rem;
}
.icon {
	height: 2rem;
	width: 2rem;
}
.icon, .logo{
	margin: 0 auto;
}
.icon, .logo, nav a:hover, .small, .large, .so-large {
	background-color: grey;
}
.small {
	height: 10rem;
	width: 100%;
	margin-bottom: 1rem;
}
.large {
	height: 20rem;
	width: 100%;
	margin-bottom: 1rem;
}
.so-large {
	height: 32rem;
	width: 100%;
	margin-bottom: 1rem;
}
.small-6 {
	text-align: center;
}
.row {
	margin-top: 2rem;
}
footer p {
	text-align: center;
	margin-top: 1rem;
}
footer {
	border: .25rem solid grey;
	margin-top: 2rem;
}
nav a:hover {
	padding: .5rem 1rem;
	color: white;
}
.line-through {
	text-decoration: line-through;
}
section {
	margin-top: 10rem;
}
.txt-rgt {
	text-align: right;
}
.tall, .medium, .short {
	background-color: grey;
	width: 100%;
	margin-bottom: 30px;
}
.tall {
	height: 700px;
}
.medium {
	height: 500px;
}
.short {
	height: 300px;
}
/* -----------------Hover Image Overlay Effect----------------- */
.image-wrapper {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.04);
	overflow: hidden;
	position: relative;
	text-align: center;
}
.image-overlay-content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.overlay-fade-in p {
	color: #f4f4f4;
	font-size: 28px;
	opacity: 0;
	transition: all 0.2s linear;
}
.overlay-fade-in img {
	transition: all 0.2s linear;
}
.overlay-fade-in .image-overlay-content {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
	color: #f2f2f2;
	font-size: 1.8rem;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	margin-top: 1rem;
}
.overlay-fade-in .button:hover {
	box-shadow: 0 0 5px #000;
}
.overlay-fade-in:hover img {
	transform: scale(1.2);
}
.overlay-fade-in:hover .image-overlay-content {
	opacity: 1;
}
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
	opacity: 1;
}
.overlay-fade-in:hover p {
	transition-delay: 0.1s;
}
.overlay-fade-in:hover .button {
	transition-delay: 0.2s;
}


/*-------------- Media Query for MEDIUM --------------*/

@media only screen and (min-width:  40em) {
.large, .small {
	height: 15rem;
}
.larger-medium {
	height: 30rem;
}
.mgn-top {
	margin-top: 15rem;
}
.small, .large, .larger-medium {
	margin-bottom: 2rem;
}
nav {
	text-align: left;
}
}

/*-------------- Media Query for LARGE --------------*/

@media only screen and (min-width:  64em) {
.nav-side {
	position: fixed;
	left: 0;
	top: 50%;
	transform: rotate(90deg);
}
#nav-contact {
	position: fixed;
	right: 0;
	top: 50%;
	transform: rotate(90deg);
}
.row {
	max-width: 80%;
}
}
