@charset "UTF-8";
/* CSS Document */


/* -=-=-=-=-=-=-=-=- Table of Contents -=-=-=-=-=-=-=-=- */

	/* ~`~`~`~`~`~ Margin and Padding ~`~`~`~`~`~ */
	/* ~`~`~`~`~`~ Dimensions ~`~`~`~`~`~ */
	/* ~`~`~`~`~`~ Backgrounds and Borders ~`~`~`~`~`~ */
	/* ~`~`~`~`~`~ Text ~`~`~`~`~`~ */
	/* -----------------Hover Image Overlay Effect----------------- */
	/*-------------- Media Query for MEDIUM --------------*/
	/*-------------- Media Query for LARGE --------------*/



/* ~`~`~`~`~`~ Margin and Padding ~`~`~`~`~`~ */
.icon, .logo{
	margin: 0 auto;
}
.large, .small, .so-large, .tall, .medium, .short, .tall, .medium, .short {
	width: 100%;
	margin-bottom: 1rem;
}
.row, footer {
	margin-top: 2rem;
}
footer p {
	margin-top: 1rem;
}
nav a:hover {
	padding: .5rem 1rem;
	color: white;
}
section, footer {
	margin-top: 2rem;
}
/* ~`~`~`~`~`~ Dimensions ~`~`~`~`~`~ */
.logo {
	height: 4rem;
	width: 5rem;
}
.icon {
	height: 2rem;
	width: 2rem;
}
.small {
	height: 10rem;
}
.large {
	height: 20rem;
}
.so-large {
	height: 32rem;
}
.tall {
	height: 700px;
}
.medium {
	height: 500px;
}
.short {
	height: 300px;
}
/* ~`~`~`~`~`~ Backgrounds and Borders ~`~`~`~`~`~ */
.icon, .logo, nav a:hover, .small, .large, .so-large, .tall, .medium, .short {
	background-color: grey;
}
footer {
	border: .25rem solid grey;
}
img {
	width: 100%;
}
/* ~`~`~`~`~`~ Text ~`~`~`~`~`~ */
.small-6, footer p {
	text-align: center;
}
.txt-rgt {
	text-align: right;
}


/* -----------------Hover Image Overlay Effect----------------- */
.image-wrapper {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.04);
	overflow: hidden;
	position: relative;
	text-align: right;
}
.image-overlay-content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.overlay-fade-in p {
	color: #f4f4f4;
	font-size: 28px;
	opacity: 0;
	transition: all 0.2s linear;
}
.overlay-fade-in img {
	transition: all 0.2s linear;
}
.overlay-fade-in .image-overlay-content {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
	color: #f2f2f2;
	font-size: 1.8rem;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	margin-top: 1rem;
}
.overlay-fade-in:hover img {
	transform: scale(1.2);
}
.overlay-fade-in:hover .image-overlay-content {
	opacity: 1;
}
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
	opacity: 1;
	margin-right:1rem;
}
.overlay-fade-in:hover p {
	transition-delay: 0.1s;
	font-size: 1rem;
	line-height: .5rem;
}

.off-canvas-content {
	box-shadow:none;
}

.off-canvas.position-left {
	left: -70%;
	top: 0;
	width:70%;
	
}
.is-open-left {
	transform: translateX(70%);
}
.is-open-right {

              transform: translateX(-70%); }
			  
			  
  .off-canvas.position-right {
    right: -70%;
    top: 0;
    width: 70%; }

/*-------------- Media Query for MEDIUM --------------*/

@media only screen and (min-width:  40em) {
.large, .small {
	height: 15rem;
}
.larger-medium {
	height: 30rem;
}
.mgn-top {
	margin-top: 15rem;
}
.small, .large, .larger-medium {
	margin-bottom: 2rem;
}
nav {
	text-align: left;
}
section {
	margin-top: 3rem;
}
}

/*-------------- Media Query for LARGE --------------*/

@media only screen and (min-width:  64em) {
.nav-side {
	position: fixed;
	left: 0;
	top: 50%;
	transform: rotate(90deg);
}
#nav-contact {
	position: fixed;
	right: 0;
	top: 50%;
	transform: rotate(90deg);
}
.row {
	max-width: 80%;
}
section, footer {
	margin-top: 7rem;
}
}
